:root {
    --bg-color: #f5f5f5;
    --text-color: #095268;
    --accent-color: #FFC857;
    --contrast-color: #177E89;
    --gray-color: #676667;
    --red-color: #DB3A34;
}

html,
body {
    height: 100%;
}

body {
    min-width: 320;
    font-family: "Roboto", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

a {
    color: var(--text-color);
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* ================ General ===============*/

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main.main {
    flex: 1 1 auto;
}

.form-control:focus {
    color: var(--text-color);
    border-color: var(--accent-color);
    box-shadow: none;
}

.form-control::placeholder {
    color: var(--gray-color);
}

section {
    padding: 50px 0;
}

.section-title {
    position: relative;
    text-transform: uppercase;
    color: var(--contrast-color);
    font-weight: 700;
}

.section-title span {
    background-color: var(--bg-color);
    padding-right: 1rem;
    position: relative;
    z-index: 1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 100%;
    top: 50%;
    left: 0;
    border-top: 1px dashed var(--text-color);

}

/* ================ Header ===============*/

.header-top-phone a {
    text-decoration: none;
}

.header-top-phone a:hover {
    text-decoration: underline;
}

ul.social-icons {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}

ul.social-icons li {
    margin-right: 10px;
}

ul.social-icons a {
    background-color: var(--accent-color);
    color: var(--contrast-color);
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    float: left;
    text-align: center;
    transition: all .3s;
}

ul.social-icons li :hover {
    background-color: var(--contrast-color);
    color: var(--accent-color);
}

.btn-warning {
    background-color: var(--accent-color);
    color: var(--contrast-color);
}

.btn-outline-warning {
    border-color: var(--accent-color);
}

.btn-outline-warning:hover {
    background-color: var(--accent-color);
    color: var(--contrast-color);
}

.header-top .btn {
    background-color: white;
}

.header-logo {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: var(--accent-color);
    transition: all .3s;
}

.header-logo:hover {
    color: var(--contrast-color);
}

.fa-heart {
    color: var(--red-color);
}

.cart-buttons .btn {
    color: var(--contrast-color);
    transition: all .3s;
}

.cart-buttons .btn:hover {
    border: 1px solid var(--contrast-color);
}

.header-bottom {
    border-top: 4px solid var(--accent-color);
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.3);
}

.header-bottom .navbar,
.header-bottom .navbar .dropdown-menu {
    background-color: var(--contrast-color) !important;
}

.header-bottom .nav-item:first-child .nav-link {
    padding-left: 0;
}

.header-bottom .navbar .nav-link {
    color: #FFF;
    transition: .3s all;
    letter-spacing: .1rem;
}


.header-bottom .navbar .nav-link.active {
    color: var(--accent-color);
}

.header-bottom .navbar .nav-link:hover {
    color: var(--accent-color);
}

.headernav-scroll.header-bottom .navbar .offcanvas:not(.show) .nav-link {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.offcanvas-start {
    background-color: var(--text-color);
}

.navbar .dropdown-menu.dropdown-menu-end a {
    color: var(--bg-color);
}

.offcanvasCart-table .product-img-td {
    width: 70px;
    text-align: center;
}

.offcanvasCart-table img {
    max-width: 70px;
}

.offcanvasCart-table a {
    text-decoration: none;
    display: block;
}

.offcanvasCart-table a:hover {
    text-decoration: underline;
}

.name-products {
    opacity: 0.7;
}

td .btn-danger {
    border-radius: 50%;
}

.btn-outline-checkout{
    border-color: var(--accent-color);
    color: var(--accent-color);
}

.btn-outline-checkout:hover{
    background-color: var(--contrast-color);
    color: var(--accent-color);
}
/* ================ Header ===============*/

/* ================ Main ===============*/

/* ================ Carousel ===============*/
.carousel-caption {
    text-shadow: 0 0 2px rgb(0, 0, 0, 1);
    bottom: 2 rem;
}

/* ================ Carousel ===============*/
/* ================ Advantages ===============*/
.advantages .item {
    background-color: #FFF;
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 7%;
    transition: all 0.3s;
}

.advantages .item:hover {
    box-shadow: 0 15px 30px -20px rgb(0, 0, 0, .5);
}

.advantages i {
    font-size: 70px;
    color: var(--accent-color);
}

/* ================ Advantages ===============*/

/* ================ Featured products ===============*/

/* ================  Product Card ===============*/
.product-card {
    transition: all .3s;
    background-color: #FFF;
    border-radius: 5%;
    position: relative;
    box-shadow: 0 15px 30px -20px rgb(0, 0, 0, .5);
    ;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card-offer {
    color: #FFF;
    position: absolute;
    top: 5px;
    right: 5px;
    text-transform: uppercase;
}

.product-card-offer>div {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

.offer-hit {
    background-color: var(--red-color);
}

.offer-new {
    background-color: var(--accent-color);
}

.product-thumb {
    text-align: center;
}

.product-thumb img {
    max-width: 225px;
}

.products-details {
    padding: 10px 20px;
}

.products-details h4 {
    font-size: 1.3rem;
}

.products-details h4 a {
    height: 45px;
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-decoration: none;
    transition: all .3s;
}

.products-details h4 a:hover {
    color: var(--accent-color);
}

.products-excerpt {
    opacity: 0.7;
    height: 45px;
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-decoration: none;
}

.prosuct-bottom-details {
    border-top: 1px solid #e1f3f5;
    padding-top: 1rem;
}

.product-price {
    font-size: 18px;
    color: var(--red-color);
    font-weight: 600;
}

.product-price small {
    color: var(--gray-color);
    font-weight: 400;
    text-decoration: line-through;
    font-size: 0.8rem;
}

.btn-outline-warning {
    color: var(--contrast-color);
    border-color: var(--contrast-color);
}

.owl-carousel-full .owl-item img {
    display: inline-block;
    width: auto;
}

/* ================  Product Card ===============*/

/* ================ Featured products ===============*/

/* ================ About Us ===============*/
.about-us {
    background-color: #FFF;
    padding-left: 50px;
    padding-right: 50px;
}

.about-us .section-title span {
    background-color: #FFF;
}

/* ================ About Us ===============*/

/* ================ Footer ===============*/
footer {
    background-color: var(--contrast-color);
    padding: 50px 0;
    color: var(--bg-color);
}

footer h4 {
    color: var(--accent-color);
}

footer a {
    color: var(--bg-color);
    text-decoration: none;
    transition: all .3s;
}

footer a:hover {
    color: var(--accent-color);
}

.footer-icons {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0%;
    font-size: 20px;
}

/* ================ Footer ===============*/

#top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--accent-color);
    opacity: 0.5;
    color: var(--text-color);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 0;
    font-size: 40px;
    transition: all .5s;
    z-index: 3;
    display: none;
}

#top:hover {
    opacity: 1;
}

/* ================ Main ===============*/

@media only screen and (min-width: 992px) {
    .header-bottom .navbar .dropdown-menu-end {
        margin-left: 0;
        border: 0;
    }

    .header-bottom .navbar .nav-link {
        padding: 1rem;
    }

}


@media only screen and (min-width: 992px) {
    .header-bottom .navbar .dropdown-menu {
        padding-left: 1rem;
    }
}